<div class="row">
    <div class="col-md-2">
      <app-slider></app-slider>
    </div>
  
    <div class="col-md-8">
      <div class="card">
        <div class="card-body" id="select">
            <br>
          <h1><strong> Obras random</strong></h1>
          
          <hr>
          <br>
          <div *ngFor="let obra of service.resultados" class="card">
            <div class="card-body">
              <h1 class="card-text">
                <strong>{{obra.title}}</strong>
              </h1>
              <p class="card-text">
                {{obra.author}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  