<div class="row">
  <div class="col-md-2">
    <app-slider></app-slider>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-body" id="select">
        <br>
        <h1><strong> Obras aleatoria</strong></h1>

        <hr>
        <mat-progress-bar *ngIf="service.isLoading" mode="indeterminate"></mat-progress-bar>

        <br>
        <div *ngFor="let obra of service.resultados" class="card">
          <div class="card-body" *ngIf="!service.isLoading">
            <h1 class="card-text">
              <strong>{{obra.title}}</strong>
            </h1>
            <p class="card-text">
              {{obra.author}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>